button::before{
    content: "Pasa por encima" ;
}

button:hover{
    color:white;
    background:green;
}

button:Hover::before{
    content:" ¡Hecho!";
}
/* Esta opcion elegi colocarla para que el ejercicio no quede muy escueto*/
button{
    height: 200px;
    width: 300px ;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius:10px;
}